.cont {
    width: 2660px;
}
.container {
    width: 2663px;
    height: 1499px;
    background-image: url('./images/main\ page\ \(1\).png');
    background:cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.nav {
    padding-top: 100px;
    display: flex;
    margin-right: -1000px;
    padding-right: -1000px;
    
}
